@import "variables";
@import "base";


a{
 color: $mainColor;
 &:hover{
     color: white;
 }

}

.nav-link{
    color: $mainColor;
    &:hover{
        color: white;
    }
}

.section__barra_top{
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.titulo_logo{	
	font-size: 60px;
	color: $mainColor;
	letter-spacing: 3px;
	font-family: 'Playfair Display', serif;
}

.titulo_nav{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.top__redes_izquierda{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }
    
.top__redes_derecha{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.tipografia__home{
	letter-spacing: 0.50px;
	text-align: end;
	color: white;
}

.imagencafe{
	background-image: url("../media/cafehome.jpg");
	min-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.formulario{
	font-family: 'Cormorant Garamond', serif;
	color: $mainColor;
	font-size: 18px;
	font-style: normal;
}

.seccion-cafeteras {
	width: 100%;
	background: #fafafa;
	display: flex;
	justify-content: center;
}

.contenedor-cafeteras {
	display: flex;
	max-width: 80%;
	justify-content: center;
    
    li{
        padding: 20px;
    }
}

.seccion-origenes__cafe{
	 background: #fafafa;
	 display: flex;
	 justify-content: center;
	 width: 100%;
 }

 .origenes__cafe__lista{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
	max-width: 80%;
	width: 100%;
	padding: 20px;
 }
 
 .origenes__image-wrapper{
    position: relative;
   
    &::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: $mainColor;
        opacity: 0;
        transition: opacity 300ms ease;        
    }

     .origenes__imagen{
         width: 100%;
     }

     p{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         opacity: 0;
         transition: opacity 300ms ease;     
         color: white;
         z-index: 1;        
     }

     &:hover{
        &::after{
            opacity: 0.3;
        }

        p{ 
            opacity: 1;
         }
    }
 }


 

 .Seccion_listaRecetas{
    display: flex;
    background: #fafafa;
	width: 100%;

     .contenedor_listaRecetas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        justify-items: center;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        row-gap: 20px;
	    max-width: 80%;
	    padding: 20px;
        
        
      }
 }



  