body {
	margin: 0;
	background: #e6e6e4;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 16px;
	font-style: normal;	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.titulo{
	font-size: 60px;
	text-align: center;
	color: black;
	letter-spacing: 3px;
	font-family: 'Playfair Display', serif;
}

.top__navegacion{
	display: block;
	text-align: center;	
	margin-bottom:40px;
}
.top__secciones, .top__secciones_links{
	display: inline-block;	
}

a:link {
	text-decoration: none;
	color: black;	
}
a:visited{
	color:black;
}
a:hover{
	color: white;
}
.tipografia__tabla{
	margin: auto;	 
}
.tipografia__home{
	letter-spacing: 0.50px;
	text-align: end;
	color: white;
}
.imagencafe{
	background-image: url("cafehome.jpg");
	min-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
table, td, th {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}
table {
  border-collapse: collapse;
}
th {
  background-color: #E6E487;
  height: 50px;
  width: 60px;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}
tr:nth-child(even){
	background-color: #ADAD9A;
}
.formulario{
	font-family: 'Cormorant Garamond', serif;
	color: black;
	font-size: 18px;
	font-style: normal;
}
.seccion-cafeteras {
	width: 100%;
	background: #fafafa;
	display: flex;
	justify-content: center;
}
.contenedor-cafeteras {
	display: flex;
	max-width: 80%;
	justify-content: center;
}
.contenedor-cafeteras li {
	padding: 20px;
}
.seccion-origenes__cafe{
	 background: #fafafa;
	 display: flex;
	 justify-content: center;
	 width: 100%;
 }
 .origenes__cafe__lista{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 80%;
	width: 100%;
 }
 .origenes__cafe__lista, li{
	 padding: 20px;
 }
 .contenedor-recetas{
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 80%;
	width: 100%;
 }

 
 @media (max-width: 800px) {
	.contenedor-cafeteras{
	flex-direction: column;		 
	}
 } 

